<ion-view view-title=''  hide-nav-bar="true" name="login-view">
  <ion-content class="padding">
      <div style="text-align:center;padding-top:25px">
        <img src="img/logo.JPG">
      </div>
      
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>

          <label class="item item-input">
              <input type="text" placeholder="www.smartkanban.com" ng-model="data.server" >
          </label>
          <label class="item item-input">
              <input type="text" placeholder="e-mail address" ng-model="data.email" >
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
  </ion-content>
</ion-view>