<ion-view view-title="Agile Buddy" hide-back-button="true">
  <ion-content class="padding">

    <div class="list card">


      <!--<div class="item item-divider">
        Task Quick View
      </div> -->

      <a href="#/print" class="item item-icon-left">
        <i class="icon ion-android-clipboard assertive"></i>
         Setup Smart Kanban Board
      </a>

      <a href="#/progress" class="item item-icon-left">
        <i class="icon ion-android-sync assertive"></i>
         Synchronize Kanban Board with JIRA
      </a>

      <a href="#/quickview" class="item item-icon-left">
        <i class="icon ion-ios-eye assertive"></i>
        Task Quick View
      </a>
      
      <!-- <a href="#/settings" class="item item-icon-left">
        <i class="icon ion-ios-gear assertive"></i>
        Settings
      </a> -->

    </div>
 </ion-content>
</ion-view>